<!DOCTYPE html>
<html>
<body>
  <p>Hello {{name}},</p>
  <p>We received a request to reset your StreamTube password. Click the link below to set a new password:</p>
  <p><a href="{{resetUrl}}">Reset my password</a></p>
  <p>This link expires in 1 hour. If you did not request a password reset, you can ignore this email.</p>
  <p>The StreamTube Team</p>
</body>
</html>
